server:
  port: 8083

spring:
  application:
    name: ws-service

  data:
    redis:
      host:  localhost
      port: 6379
      password: redis123
      timeout: 2000ms
      lettuce:
        pool:
          max-active: 10
          max-idle: 8
          min-idle: 2
        shutdown-timeout: 100ms

logging:
  level:
    root: INFO
    com.example.wsservice: DEBUG
    org.springframework.web.socket: DEBUG
    org.springframework.data.redis: DEBUG
    io.lettuce. core: INFO