server:
  port: 8088

spring:
  application:
    name: auth-service

  datasource:
    url: jdbc:postgresql://localhost:5432/authdb?TimeZone=UTC
    username: postgres
    password: postgres123
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5
      connection-timeout: 30000

  data:
    redis:
      host: localhost
      port: 6379
      password: redis123
      timeout: 2000ms

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        jdbc:
          time_zone: UTC

  jackson:
    time-zone: UTC

  # ✅ Kafka Consumer Configuration
  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: auth-service-group
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      auto-offset-reset: earliest
      properties:
        spring.json.trusted.packages: "*"
        spring.json.type.mapping: "VipUpgradeEvent:com.example.auth_service.dto.event.VipUpgradeEvent"

jwt:
  secret: your_jwt_secret_key_12333333333333333333333
  access-time: 360000000
  refresh-time: 864000000

google:
  clientId: ${GOOGLE_CLIENT_ID:830106511321-pfkrcmes2fqg4n102aopnjfhefftl7lp.apps.googleusercontent.com}

# ✅ Kafka Topics
kafka:
  topics:
    vip-upgrade-events: vip-upgrade-events

cache:
  expires:
    "[user.details]": 1m
    "[auth.invalidatedTokens]": 24h

logging:
  level:
    root: INFO
    com.example.auth_service: DEBUG
    org.apache.kafka: INFO
management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always