server:
  port: 8888

app:
  api-prefix: /api/v1

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        # Auth Service
        - id: auth_service
          uri: http://localhost:8088
          predicates:
            - Path=${app.api-prefix}/auth/**
          filters:
            - StripPrefix=2

        # Payment Service
        - id: payment_service
          uri: http://localhost:8089
          predicates:
            - Path=${app.api-prefix}/payments/**
          filters:
            - StripPrefix=2

        # VIP Packages (Payment Service)
        - id: vip_packages
          uri: http://localhost:8089
          predicates:
            - Path=${app.api-prefix}/vip-packages/**
          filters:
            - StripPrefix=2

        # Market Service
        - id: market_service
          uri: http://localhost:8082
          predicates:
            - Path=${app.api-prefix}/candles/**,${app.api-prefix}/users/**
          filters:
            - StripPrefix=2
management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always