server:
  port: 8080
app:
  api-prefix: /api/v1
spring:
    application:
        name: api-gateway
    cloud:
      gateway:
        routes:
          - id: auth_service
            uri: http://localhost:8088
            predicates:
              - Path=${app.api-prefix}/auth/**
            filters:
              - StripPrefix=2