server:
  port: 8082

spring:
  application:
    name: market-service

  datasource:
    url: jdbc:postgresql://localhost:5432/marketdb?TimeZone=UTC
    username: postgres
    password: postgres123
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 20
      minimum-idle: 5
      connection-timeout: 30000
      idle-timeout: 600000
      max-lifetime: 1800000
  data:
    redis:
      host: localhost
      port: 6379
      password: redis123
      timeout: 2000ms
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        jdbc:
          time_zone: UTC
  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      enable-auto-commit: false
      max-poll-records: 500
      auto-offset-reset: earliest
    listener:
      ack-mode: MANUAL
      type: batch

  jackson:
    time-zone: UTC
logging:
  level:
    root: INFO
    com.example.market_service: INFO
kafka:
  topics:
    closed-candles: closed-candles
cache:
  expires:
    "[recent-candles-1m]": 30s
    "[recent-candles-3m]": 1m
    "[recent-candles-5m]": 3m
    "[recent-candles-15m]": 5m
    "[recent-candles-1h]": 15m
    "[recent-candles-4h]": 1h
    "[recent-candles-1d]": 6h
    "[user.details]": 1m
    "[auth.invalidatedTokens]": 24h

binance:
  rest:
    base-url: https://api.binance.com/api/v3
trades:
  symbols:
    - BTCUSDT
    - BTCUSD
    - ETHUSDT
    - BNBUSDT
    - XRPUSDT
  intervals:
    - 1m
    - 5m
    - 15m
    - 1h
    - 4h
    - 1d



