server:
  port: 8082

spring:
  application:
    name: storage-service

  datasource:
    url: jdbc:postgresql://localhost:5432/marketdb?TimeZone=UTC
    username: postgres
    password: postgres123
    driver-class-name: org.postgresql.Driver
    hikari:
      connection-init-sql: SET TIME ZONE 'UTC'
  data:
    redis:
      host: localhost
      port: 6379
      password: redis123
      timeout: 2000ms
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        jdbc:
          time_zone: UTC
  kafka:
    consumer:
      bootstrap-servers: localhost:9092
      group-id: storage-candle-group
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer

      enable-auto-commit: false
      max-poll-records: 500
      auto-offset-reset: earliest

  jackson:
    time-zone: UTC
logging:
  level:
    root: INFO
    com.example.storage_service: INFO
kafka:
  topics:
    closed-candles: closed-candles
cache:
  expires:
    "[recent-candles-1m]": 30s
    "[recent-candles-2m]": 1m
    "[recent-candles-5m]": 3m
    "[recent-candles-15m]": 5m
    "[recent-candles-1h]": 15m